@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";
@import "./list";
@import "./assets";

html {
  color: $elv-color-text-dark;
  font-size: 14px;
  max-height: 100vh;
}

body,
.app,
.app-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 14px;
  height: 100%;
  max-height: 100vh;
  max-width: 1400px;
  min-height: 100vh;
}

a {
  &.-elv-button {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@keyframes FadeOut {
  95% {
    opacity: 1;
  }


  100% {
    opacity: 0;
  }
}

.message {
  animation: FadeOut 5s linear forwards;
  color: $elv-color-mediumblue;

  &:not(:empty) {
    margin: $elv-spacing-xs 0;
  }
}

.error-message {
  color: $elv-color-mediumred;
}

header {
  align-items: center;
  display: flex;
  grid-area: header;
  height: 3.2rem;
  justify-content: space-between;
  padding: $elv-spacing-xs $elv-spacing-s 0;
  position: relative;

  .timezone-selection {
    margin-right: $elv-spacing-s;

    label {
      height: 100%;
      margin-right: $elv-spacing-xs;
    }
  }

  .message {
    align-items: center;
    bottom: $elv-spacing-xs;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    left: 0;
    text-align: left;
  }

  button {
    height: 2.2rem;

    &.-elv-button {
      padding: 0.3rem 5rem;
    }
  }
}

.app-container {
  display: grid;
  grid-template-areas:
  "nav header"
  "nav main";
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 3rem 1fr;

  .navigation-tabs {
    border: 0;
    border-right: 1px solid $elv-color-lightestgray;
    flex-direction: column;
    grid-area: nav;

    a {
      align-items: center;
      display: flex;
      flex: 0;
      font-size: $elv-font-xl;
      max-height: 3rem;
      min-height: 3rem;
      padding: $elv-spacing-xs $elv-spacing-s;
      text-align: left;

      &.selected {
        background-color: $elv-color-lightergray;
        border: 0;
        font-weight: 600;
      }
    }
  }
}

main {
  grid-area: main;
  padding: $elv-spacing-s;
}

main,
.page-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 3rem);
}

.page-container {
  padding-bottom: $elv-spacing-l;

  .-elv-tab-container {
    margin: 0 0 $elv-spacing-m;
  }
}

.navigation-tabs {
  margin: 0;
  padding: 0;

  &.-elv-tab-container {
    margin: 0;
    min-height: 2.5rem;
  }

  .-elv-tab {
    flex: 1 1 auto;
  }
}

.page-header {
  align-items: center;
  display: flex;
  margin: 0 0 $elv-spacing-m;
  position: relative;
  width: 100%;
}

h1 {
  align-items: center;
  display: flex;
  font-size: $elv-font-xxl;
  font-weight: 400;

  .ntp-badge {
    font-size: $elv-font-l;
    margin-left: $elv-spacing-s;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.asset-info {
  margin-top: $elv-spacing-l;

  .-elv-labelled-field {
    grid-template-columns: 15rem 1fr;
  }
}


.title-preview {
  margin-top: $elv-spacing-m;
  padding-bottom: $elv-spacing-m;

  iframe {
    border: 1px solid $elv-color-lightgray;
    margin-top: $elv-spacing-s;
    min-height: 90vh;
    width: 100%;
  }
}

a,
button {
  &.close-button,
  &.back-button {
    align-items: center;
    border: 1px solid $elv-color-lightgray;
    border-radius: $elv-spacing-xs;
    display: inline-flex;
    margin-right: $elv-spacing-s;
    padding: 0 $elv-spacing-s;

    &:hover {
      background-color: $elv-color-lightgray;
    }

    svg {
      height: $elv-font-xxl;
      width: $elv-font-xxl;
    }

    button {
      svg {
        height: $elv-font-xxl;
        width: $elv-font-xxl;
      }
    }
  }
}

.rdt {
  display: flex;
  width: 100%;

  input {
    @include elv-no-select;
    width: 100%;
  }

  // sass-lint:disable class-name-format
  &.rdtOpen {
    .rdtPicker {
      top: 2.5rem;
    }
  }
}

.controls {
  align-items: center;
  display: flex;
  margin-bottom: $elv-spacing-s;
  max-height: 2.5rem;
  min-height: 2.5rem;
  padding: 0.25rem 0;
  position: relative;
  width: 100%;

  &.no-margin {
    margin: 0;
  }

  .filter {
    font-size: $elv-font-l;
    position: absolute;
    right: 0;
    width: 20rem;
  }

  button,
  .-elv-button {
    height: 2rem;
    min-width: 10rem;

    &:not(:last-child) {
      margin-right: $elv-spacing-xs;
    }
  }
}

.page-controls {
  button {
    margin: 0 1rem;
    max-width: 6rem;
    min-width: 6rem;

    &:disabled {
      visibility: hidden;
    }
  }
}

.assets-list,
.offerings-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: 100%;
  overflow-y: hidden;
  padding: $elv-spacing-xxs;
}

.title-permission-modal,
.asset-selection-modal,
.offering-selection-modal {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: 100%;
  width: 60rem;

  .list {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.title-profile-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.title-permissions-icon {
  &.inactive {
    stroke: $elv-color-mediumred;
  }
}

.title-active-info {
  align-items: center;
  display: flex;
  font-size: $elv-font-xl;
  position: absolute;
  right: $elv-spacing-s;
  top: $elv-spacing-m;
}

.title-active-button {
  margin-left: $elv-spacing-s;
  min-height: $elv-spacing-l;

  &.title-active-button {
    svg {
      stroke: $elv-color-mediumblue;
    }
  }

  &.inactive {
    svg {
      stroke: $elv-color-mediumred;
    }
  }

  &:hover {
    svg {
      stroke: $elv-color-lightblue;
    }
  }
}

.fullscreen-modal {
  .-elv-modal-content {
    height: 90vh;
    max-width: 75vw;
    min-height: 95vh;
    min-width: 60vw;

    .-elv-async-component-loading {
      height: 80%;
      width: 100%;
    }
  }
}

.shrink-modal {
  .-elv-modal-content {
    height: auto;
    max-width: unset;
    min-height: unset;
    min-width: unset;
  }
}

.user-browser,
.group-browser,
.ntp-browser {
  padding-bottom: 1rem;

  h1 {
    font-size: $elv-font-xxl;
    margin-bottom: 1rem;
  }
}

.profile-settings-icon {
  &.-elv-icon {
    stroke: $elv-color-darkergray;
  }
}

.default-permission-indicator {
  &.-elv-icon {
    margin: 0 $elv-spacing-xxs;
    min-height: 1.1rem;
    min-width: 1.1rem;
    stroke: $elv-color-text-light;
  }
}

.-elv-loading-element {
  &:not(.no-margin) {
    margin: 5rem 0;
  }
}

.-elv-button {
  &:disabled {
    &:hover {
      // sass-lint:disable no-important
      background: $elv-color-white !important;
      color: $elv-color-text-dark !important;
      cursor: unset;
    }
  }
}

form {
  max-width: 500px;

  .error-message {
    animation: none;
    background-color: $elv-color-mediumred;
    color: $elv-color-text-white;
    margin: 0;
    padding: $elv-spacing-xs;

    &:empty {
      display: none;
    }
  }

  legend {
    margin-bottom: $elv-spacing-s;
  }

  .-elv-date-input {
    margin-bottom: 0;
  }

  &.ntp-instance-form {
    max-width: 700px;

    &.ntp-instance-form {
      min-width: 500px;
      width: 100%;
    }

    &.ntp-instance-create-form {
      margin-bottom: $elv-spacing-xl;
    }
  }

  &.ntp-ticket-form {
    textarea {
      height: 10rem;
      padding: $elv-spacing-xs;
      width: 100%;
    }
  }

  .ticket-status {
    margin: $elv-spacing-xs 0;
    text-align: center;
  }

  h1 {
    margin-bottom: $elv-spacing-l;
  }

  input {
    width: 100%;
  }

  label {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .form-actions {
    align-content: center;
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    margin-top: $elv-spacing-m;

    button {
      &:not(:last-child) {
        margin-right: $elv-spacing-xs;
      }
    }
  }
}

.ntp-badge {
  background-color: $elv-color-mediumgreen;
  border-radius: $elv-spacing-xxs;
  color: $elv-color-white;
  font-size: $elv-font-m;
  margin: 0 $elv-spacing-s;
  padding: $elv-spacing-xxs $elv-spacing-s;

  &.expired {
    background-color: $elv-color-mediumred;
  }

  &.upcoming {
    background-color: $elv-color-mediumblue;
  }
}

.settings-spacer {
  margin-bottom: 5rem;
}

.fabric-user-form {
  h1 {
    margin-bottom: 0;

  }

  .message {
    height: 2rem;
  }
}

.-elv-labelled-field {
  &.align-top {
    margin-top: $elv-spacing-m;

    label {
      align-items: flex-start;
    }
  }
}
