.permission-profile {
  h3 {
    margin: $elv-spacing-s 0;
  }

  .offering-default-permission,
  .asset-default-permission {
    grid-template-columns: 15rem 1fr;
    margin: $elv-spacing-s 0;
  }

  .selected-form {
    border: 1px solid $elv-color-lightgray;
    margin: $elv-spacing-m 0;
    padding: $elv-spacing-m $elv-spacing-l $elv-spacing-s;
  }

  .title-permission-modal,
  .offering-selection-modal,
  .selected-form,
  .asset-selection-modal {
    h3 {
      font-size: $elv-font-xl;
      font-weight: 500;
      margin: 0 0 $elv-spacing-s;
    }

    input,
    select {
      max-width: 20rem;
      min-width: 20rem;
    }

    .-elv-input {
      grid-template-columns: 15rem 1fr;
    }

    .controls {
      margin-top: $elv-spacing-m;
    }
  }
}
