@import "~elv-components-js/src/stylesheets/styles";

.content-browser {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  min-height: 90vh;
  position: relative;

  .page-header {
    justify-content: center;

    .back-button {
      left: 0;
      position: absolute;
    }
  }

  .close-button {
    position: absolute;
    right: $elv-spacing-xxs;
    top: $elv-spacing-xxs;

    svg {
      stroke: $elv-color-mediumgray;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    margin: $elv-spacing-xs 0;

    button {
      height: 2.1rem;
      width: 10rem;
    }
  }

  .message {
    align-items: center;
    display: flex;
    min-height: 2.5rem;
  }

  .hint {
    color: $elv-color-mediumgray;
  }

  .-elv-async-component-loading {
    min-height: 10rem;
  }

  .-elv-tab-container {
    &.secondary {
      margin: 0;
    }
  }

  .browser-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow-y: hidden;
    padding: $elv-spacing-xxs;
    width: 40rem;
  }

  .browser {
    display: flex;
    flex-direction: column;
  }

  .browser-filter {
    font-size: $elv-font-l;
    margin-bottom: $elv-spacing-xs;
    min-height: 2.3rem;
  }

  .browser-pagination {
    align-items: center;
    color: $elv-color-text-light;
    display: flex;
    justify-content: center;
    margin-bottom: $elv-spacing-xs;
    position: relative;

    button {
      position: absolute;
      right: 0;
    }

    .prev-button {
      left: 0;
    }
  }

  .back {
    margin-bottom: $elv-spacing-s;
  }

  h2 {
    font-weight: 400;
    margin-bottom: $elv-spacing-s;
  }

  h3 {
    margin: $elv-spacing-xs 0;
    text-align: center;

  }

  h4 {
    color: $elv-color-text-light;
    margin: $elv-spacing-s 0 $elv-spacing-xs;
    text-align: center;
  }
}
