@import "~elv-components-js/src/stylesheets/styles";

$selected-color: lighten($elv-color-mediumblue, 10%);

.list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
}

.list-entry {
  display: grid;
  position: relative;

  .small-font {
    font-size: $elv-font-m;
  }

  .permission-profile + & {
    margin-top: $elv-spacing-m;
  }

  &.list-entry-selectable {
    cursor: pointer;
  }

  & > div {
    @include elv-ellipsis;
    align-items: center;
    border: 1px solid $elv-color-lightgray;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    display: flex;
    height: 3rem;
    min-width: 0;
    padding: $elv-spacing-xs;

    span {
      @include elv-ellipsis;
    }

    &:first-child {
      border-left: 1px solid $elv-color-lightgray;
    }

    &:last-child {
      border-right: 1px solid $elv-color-lightgray;
    }

    svg {
      height: $elv-font-xxl;
    }
  }

  &:last-child {
    border-bottom: 1px solid $elv-color-lightgray;
  }

  &.even {
    background-color: $elv-color-lightestgray;
  }

  &.selected {
    background-color: $selected-color;
    color: $elv-color-white;

    svg {
      stroke: $elv-color-white;
    }
  }

  &.disabled {
    color: $elv-color-lightgray;
    cursor: inherit;
  }

  &:not(.list-header) {
    &:not(.title-profile-list-entry) {
      &:hover {
        background-color: $elv-color-lightergray;

        &.selected {
          background-color: $selected-color;
        }
      }
    }
  }

  .list-entry-icon-cell {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    & + div {
      border-left: 0;
    }
  }

  .date-field {
    font-size: $elv-font-m;
  }

  select {
    background-color: $elv-color-white;
  }

  .-elv-date-input {
    flex: 1 1 auto;
    margin: 0;

    input {
      width: 100%;
    }
  }

  .actions-cell {
    display: flex;
    justify-content: flex-end;

    button {
      padding: $elv-spacing-xxs $elv-spacing-xs;

      &:hover {
        svg {
          stroke: $elv-color-black;
        }
      }
    }
  }

  // Stacking context prevents datepicker from sitting above list - make it relative to the list entry instead
  .rdt {
    position: inherit;

    // sass-lint:disable class-name-format
    &.rdtOpen {
      .rdtPicker {
        top: 3rem;
      }
    }
  }
}

.sortable-header {
  @include elv-no-select;
  cursor: pointer;

  &.active {
    &.asc {
      &::after {
        content: "▲";
        font-size: $elv-font-m;
        padding-left: $elv-spacing-xs;
      }
    }

    &.desc {
      &::after {
        content: "▼";
        font-size: $elv-font-m;
        padding-left: $elv-spacing-xs;
      }
    }
  }
}

.titles-list-entry {
  grid-template-columns: 1fr 8rem 5rem;
}

.assets-list-entry {
  grid-template-columns: $elv-spacing-ml 2fr 1fr 1fr;
}

.assets-list-entry-with-permissions {
  grid-template-columns: $elv-spacing-ml 2fr 2fr 1fr 1fr 2fr 2fr;
}

.browse-list-entry {
  grid-template-columns: 1fr 10rem;
}

.offerings-list-entry {
  grid-template-columns: 2fr 2fr;
}

.offerings-list-entry-with-permissions {
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
}

.title-profile-list-entry {
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr 5rem;
}

.title-permission-list-entry {
  grid-template-columns: 2fr 2fr 2.3fr 2.3fr 3fr 5rem;
}

.target-permission-list-entry {
  grid-template-columns: 2fr 1fr 2fr 2fr 2.5fr 5rem;
}

.groups-browse-list-entry {
  grid-template-columns: 1fr 2fr;
}

.groups-list-entry {
  grid-template-columns: 2fr 1fr 3fr 6rem 5rem;

  &.list-entry-selectable {
    grid-template-columns: 2fr 1fr 3fr 6rem;
  }
}

.group-titles-list-entry {
  grid-template-columns: 1fr 3fr;
}

.sites-list-entry {
  grid-template-columns: 1fr 5rem;
}

.users-list-entry {
  grid-template-columns: 3fr 2fr 6rem 5rem;

  &.list-entry-selectable {
    grid-template-columns: 3fr 2fr 6rem;
  }
}

.title-link {
  svg {
    margin-right: $elv-spacing-xxs;
    width: auto;
  }
}
